*{
    padding: 0;
    margin: 0;
   
}
body{
   overflow-x: hidden;
}
@media screen and (max-width: 850px) { 
  body{
    background:linear-gradient(70deg, #000000, #010514);
    
  }
  #p-color{
    color: white;
  }
  #about-image-id img{
    border-radius: 10px;
    box-shadow: 0px 1px 20px 5px #010008;
  }
  .bacground-card-img img{
    width: 100%;
  }
  .nav-section{
    background-color: lightgray;
  }
}



.header-bacground img{
    width: 100%;
    height: 600px;
    position: absolute;

}
.nav-section{
    position: relative;
}
.header-section{
position: relative;
}
.header-contain{
    margin-top: 150px;
}
.header-contain p{
    width: 500px;
    text-align: justify;
    color:#fdffff;
}
.p-font-color{
    color: #e5ff00;
}
.menu-text-style{
    font-weight: 700;
}
.bacground-image{
    width: 100%;
    position: absolute;

}

/* all @nedia style */

@media(max-width: 850px) { 
  #services-section-2{
    margin-top: 0px;
    margin-left: 10px;
  }
}
  @media screen and (max-width: 850px) { 

  .bacground-image img{
    width: 100%;
    height: 500px;
    display: none;
  } 
  .header-contain h1{
    font-size: 20px;
  }
  .header-contain p{
    width: 99%;
    font-size: 15px;
    color: black;
  }
  .header-img{
    width: 100%;
    height: auto;
  }
  .bacground-image-2 img{
    width: 100%;
    height: auto;
  }
  .about-image img{
    width: 100%;
    height: auto;
  }
  .about-contain h5{
    font-size: 15px;
  }
  .about-contain h2{
    font-size: 20px;
  }
  .about-contain h6{
    font-size: 12px;
  }
  .about-contain p{
    font-size: 15px;
  }

} 



/* this line is about style */
.about-section{
  margin: 80px 0;
}
.about-image img{
  border-radius: 10px;
  box-shadow: 0px 1px 20px 5px grey;
}
.about-contain{
  margin-top: 40px;
}
.about-contain h5{
  background-color: lawngreen;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}
.about-contain h4 span{
  color:orangered;
}
.about-contain h4, h6{
  margin: 15px 0;
}
.about-contain h6{
 text-align: justify;
}
.bacground-image-2{
  width: 100%;
position: absolute;
  margin-top: 215px;
}






/* This line is card style */

.bacground-card-img{
  width: 100%;
  display: grid;
  justify-content: center;
  position: absolute;
}

.services-contain{
  width: 100%;
  display: grid;
  justify-content: center;
 
}
.services-contain h3{
  width: 100%;
  display: grid;
  justify-content: center;
  z-index: 1;
  background-color: lawngreen;
  border-radius: 5px;
  padding: 10px;
  
}
.services-section{
  margin-top:400px;
}
#services-containera{
  margin-top: 45px;
}
.containera{
  display: grid;
  flex-wrap:wrap;
  justify-content:center;
  margin-right: 10px;
  position: relative;
}


.containera .box
{
  position:relative;
  width: 300px;
  height: 350px;
  padding: 40px;
  background: linear-gradient(to bottom,#a5b0ff,#ff7bb9);
  box-shadow:0 15px 25px rgba(0,0,0,.1);
  border-radius:15px;
  
  box-sizing:border-box;
  overflow:hidden;
  text-align: center; 
}

.containera .box:before
{
  content:'';
  width: 50%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
  background:rgba(255,255,255,.2);
  z-index:2;
  pointer-events:none;
  text-align: center;
}

.containera .box .icon {
  position:relative;
  width: 80px;
  height: 80px;
  color:#fff;
  background:#FF1493;
  display:flex;
  justify-content: center;
  margin:10px auto;
  border-radius:20%;
  font-size: 50px;
  font-weight:normal;
  transition:2s;
  padding:10px;
}
.containera .box .icon i{
  padding:8px;

}

.containera .box .icon
{
  box-shadow:0 0 0 0 #76D7C4;
}
.containera .box:hover .icon
{
  
 box-shadow:0 0 0 400px #76D7C4;
}



.containera .box .content
{
  position:relative;
  z-index:1;
  transition:1.5s;
}
.containera .box:hover .content{
  color:orangered;
}
.containera .box .content h3
{
  font-size: 20px;
  margin:10px 0;
  padding:0;
  text-align: center;
}
.containera .box .content p{
   margin:0;
  padding:0;
  text-align: center;
}
.service-area-a
{
  display:inline-block;
  padding:10px 25px;
  background:#fff;
  border-radius:10px;
  text-decoration:none;
  color:#000;
  font-weight:500;
  margin-top:20px;
  box-shadow: 5px 2px 5px rgba(0,0,0,.2);
  border: 1px solid green;
  
}



/* This line is progress bar */

@media(max-width: 850px) { 
  #progress-car-id{
    display: grid;
    width: 100%;
    justify-content: center;
    margin-left: 0px;
  }
  .progress-section{
    margin-top: 80px;
  }
  #progress-car-id .card{
    width: 300px;
    margin-bottom: 20px;
  }
  
  #bacground-5 img{
    display: none;
  }
}
.bacground-5-div{
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: -500px;
  margin-right: 155px;
  z-index: -2;

}

.progress-section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.progress-car{
  position: relative;
  width: 96%;
  display: flex;
  justify-content: space-around;
  margin-left: 18px;
  margin-top: 20px;
}
.progress-car .card{
  position: relative;
  width: 250px;
  background: linear-gradient(0deg, #1b1b1b,#222,#1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.progress-car .card:hover{
  transform:  translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.progress-car .card::before{
  content:'';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.03);
}
.percent{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
}
.percent .number{
  position: absolute ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.percent .number h2{
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}
.card:hover .percent .number h2{
  color: #fff;
  font-size: 24px;
}
.percent .number h2 span{
  font-size: 24px;
  color: #777;
}
.card:hover .percent .number h2 span{
  color: #fff;
}
.text{
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}
.card:hover .text{
  color: #fff;
}
svg{
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}
svg circle{
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px,5px);
}
svg circle:nth-child(2){
  stroke-dasharray: 440;
  stroke-dashoffset:440;
}
.card:nth-child(1) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #15ff00;
}
.card:nth-child(2) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 85) / 100);
  stroke: #23c4fa;
}
.card:nth-child(3) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
  stroke: #e5ff00;
}
.card:nth-child(4) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 75) / 100);
  stroke: #ff00d4;
}




/* This line is how it work bar style */
.bacground-image-3 {
  width: 100%;
  display: grid;
  justify-content: right;
  margin-top: 145px;
  position: absolute;
}
.how-it-work-contain-2 p{
  width: 400px;
}
.how-it-work-contain-2 h1{
 margin-top: 350px;
} 

